body {
    width: 100%;
    min-height: 100%;
    background-color: #ef9720;
    color: #fff;

    a {
        color: #fff;
    }

    .construction-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        text-align: center;

        img {
            max-width: 100%;
        }
    }
    
}